.container {
    display:flex;
    justify-content: center;
    width:100%;
    height:100%;
}

.responsive-iframe {
    border: 1px solid #ccc;    
    height: 165px;
    width: 255px;
    overflow: hidden;
    background-color: white;
}

.captcha_canvas {
    transform: scale(1);
}
/* 
iframe {
    border: none;
} */