:host {
    display: block;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    pointer-events: all !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it appears on top */
    backdrop-filter: blur(2px) !important; 
   
}

.clear {
    pointer-events: all !important;

}