.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #BFC9CA;
  font-family: var(--sl-font-sans);
  font-size: 1rem;
  color: #2E4053;
  border-radius: 5px;
}

.header {
    display:flex;
    padding:5px;
    justify-content: space-between;
    align-items:center;
    height:30px;
    opacity: 0.8;
}

.checklist_Title {
    font-size:1.3rem;
    font-weight: bold; 
}

.checklist_Total {
    font-size:1rem; 
    color: red;
}

.footer {
    display:flex;
    padding:5px; 
    justify-content: space-between;
    align-items:flex-start;
    height:32px;
}

.item_list {
  flex: 1;
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item_list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item_list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.item_container {
  position: relative;
  overflow: hidden;
  height: 60px;
  display: flex;  
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  background-color: #F1C40F;
}

.item_checked {
  opacity: 1;
  background-color: #4B5B6B;
}

.item_orderNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    width: 30px;
    color: white;
    font-weight: bold;
    /* background-color: #2E4053;  */  
}

.item_info {
    padding: 5px;
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 17;
    flex: 17;
    background-color: #D5D8DC;
}

.item_deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    font-size: large;
    color: white;
    font-weight: bold;
    cursor: pointer;
    /* background-color: #2E4053;  */
}

.transparentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin:0;
  background: none;
  border: none;
}

.item_info span {
    width:95%;
    font-size: 0.9rem;
    max-height: 2rem;
    line-height: 0.9rem;
    opacity: 0.9;
}

.item_info_quantity_price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  color: rgba(75,91,107,0.5);
  height: 1.3rem;
  overflow-y: hidden;
}

.item_info_quantity_unitprice {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.item_container_img {
    flex-grow: 6;
    flex: 6;
    display: flex;
    overflow: hidden;
    height: 100%;
    background-color: #D5D8DC;
}

.item_container_img img {
  width: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}

:not(:defined) {
  visibility: hidden;
}

checkout-list:not(:defined) {
	display: none;
}

contact-form:not(:defined) {
	display: none;
}

captcha-component:not(:defined) {
	display: none;
}